<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <!-- CSS only -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Ovo' rel='stylesheet'>
   
</head>
<style>
      body {
            font-family: 'Ovo' !important;
            color: rgb(34, 32, 32);
        }
        #signupbox {
            width: 100%;
            position: relative;
            margin: auto;
        }
        .col-sm-9 div, .col-sm-9 label{
    margin: 0px;
}
</style>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <b><a class="navbar-brand" href="#" style="font-weight: 900 !important;">EMS</a></b>  
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right" >
                <li><a href=""><b style="color: rgb(72, 100, 223);"><%= user.name %></b></a> </li>
                <li> <a href="/emp-detail" style="font-weight: 900;">Employee Detail</a></li>
              <li> <a href="/users/logout" style="font-weight: 900;">Logout</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    <div class="container">
        <div class="row">
            <div id="signupbox" style="margin-top:50px" class="col-xl-6 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Employee Details Form</div>
                    </div>
                    <div class="panel-body">
                        <form action="/" id="EmployeeForm" class="form-horizontal" method="post" role="form"  enctype="multipart/form-data">
                            <div id="signupalert" style="display:none" class="alert alert-danger alert-dismissible">
                                <p>Error:</p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>

                            <div class="form-group">
                                <label for="firstname" class="col-md-3 control-label">Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="name" placeholder="Enter Your Name" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="email" placeholder="Email Address" required>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="type" class="col-md-3 control-label">Employee Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="eType">
                                        <option value="Hourly">Hourly</option>
                                        <option value="Fixed">Fixed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-3 control-label">Hourly Rate</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="hRate"
                                        placeholder="Enter Hourly Rate" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="icode" class="col-md-3 control-label"> Total Hour</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="tHour"
                                        placeholder="Enter Total Hours" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="icode" class="col-md-3 control-label"> Profile Image</label>
                                <div class="col-md-9">
                                    <input type="file" class="form-control" name="avatar">
                                </div>
                            </div>

                            <div class="form-group">
                                <!-- Button -->
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" name="submit" value="submit" class="btn btn-primary" style="background-color: #0d6efd;">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>